# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [1]:
data = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod']
        , 'hp': [45, 39, 44, 45]
        , 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie']
        , 'pokedex': [True, False, True, False]
        , 'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name  pokedex   type
0     Ivysaur  45   Bulbasaur     True  grass
1  Charmeleon  39  Charmander    False   fire
2   Wartortle  44    Squirtle     True  water
3     Metapod  45    Caterpie    False    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon=pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution  pokedex
0   Bulbasaur  grass  45     Ivysaur     True
1  Charmander   fire  39  Charmeleon    False
2    Squirtle  water  44   Wartortle     True
3    Caterpie    bug  45     Metapod    False

### Step 5. Add another column called place, and insert what you have in mind.

In [10]:
pokemon['place']= ['Bhairahawa','Kathmandu','Gulmi','Bardhaghat']

In [11]:
pokemon

         name   type  hp   evolution  pokedex       place
0   Bulbasaur  grass  45     Ivysaur     True  Bhairahawa
1  Charmander   fire  39  Charmeleon    False   Kathmandu
2    Squirtle  water  44   Wartortle     True       Gulmi
3    Caterpie    bug  45     Metapod    False  Bardhaghat

### Step 6. Present the type of each column

In [14]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex        bool
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [15]:
pokemon.describe()

              hp
count   4.000000
mean   43.250000
std     2.872281
min    39.000000
25%    42.750000
50%    44.500000
75%    45.000000
max    45.000000